@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Centered dedications */
section[epub|type~="dedication"]{
	font-variant: small-caps;
	line-height: 1.8;
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

#dedication p span{
	font-size: larger;
}

/* Table rules - see ch. 17 */
table{
	font-size: .8em;
	margin: 1em auto;
	text-align: initial;
}

td + td,
th + th{
	padding-left: .5em;
}

th{
	font-variant: small-caps;
	font-weight: normal;
	text-align: initial;
}
/* end table rules */

#chapter-11 blockquote header p{
	font-variant: small-caps;
}
